* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.header .nav .navbar {
  padding: 0%;
  justify-content: end; }

.header .nav .nav-item {
  margin-right: 10%; }

main p .introduction {
  font-family: cursive; }

main a .goInstrumentos {
  text-decoration: none;
  color: inherit;
  border-style: solid;
  border-width: 1,5px;
  padding: 10px;
  border-color: #ffffff;
  border-radius: 5px; }

main a .goAccesorios {
  text-decoration: none;
  color: inherit;
  border-style: solid;
  border-width: 1,5px;
  padding: 10px;
  border-color: #ffffff;
  border-radius: 5px; }

main .title-instruments {
  text-align: center;
  padding: 100px; }

main .instruments {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  row-gap: 20px;
  column-gap: 10px;
  text-align: initial;
  padding: 20px; }

main .title-nosotros {
  text-align: center;
  padding: 100px; }

main .subtitle-nosotros {
  text-align: center; }

main .history {
  padding: 100px; }

main .contact {
  padding: 100px; }

.wallpaper {
  background-image: url("../img/Fondo - 4.jpg");
  background-size: cover; }

footer .end {
  background-color: #000000; }

footer .endContent {
  margin: 0%;
  padding: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly; }

footer .footer-item {
  list-style: none;
  text-decoration: none; }

footer .footer-link {
  text-decoration: inherit;
  color: #ffffff; }
