*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.nav{
    .navbar{
        padding: 0%;
        justify-content: end;
    }
    .nav-item{
        margin-right: 10%;
    }
}
.title-principle{
    animation-duration: 3s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
p .introduction{
        font-family: cursive;
}
a .goInstrumentos{
    text-decoration: none;
    color: inherit;
    border-style: solid
    border-width 1,5px;
    padding: 10px;
    border-color: #ffffff;
    border-radius: 5px;
}
a .goAccesorios{
    text-decoration: none;
    color: inherit;
    border-style: solid;
    border-width: 1,5px;
    padding: 10px;
    border-color: #ffffff;
    border-radius: 5px;
}
.title-instruments{
    text-align: center;
    padding: 100px;
}
.instruments{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    row-gap: 20px;
    column-gap: 10px;
    text-align: initial;
    padding: 20px;
}
.title-nosotros{
    text-align: center;
    padding: 100px;
}
.subtitle-nosotros{
    text-align: center;
}
.history{
    padding: 100px;
}
.contact{
    padding: 100px;
}
.wallpaper{
    background-image: url("../img/Fondo\ -\ 4.jpg");
    background-size: cover;
}
.end{
    background: linear-gradient(black 70px, white);
}
.endContent{
    margin: 0%;
    padding: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.footer-item{
    list-style: none;
    text-decoration: none;
}
.footer-link{
    text-decoration: inherit;
    color: #ffffff;
}